h1, h2, h3 {
  text-align: center;
}

body {
  background-image: url('src/pink-bg.jpg');
}

button {
  padding: 10px 20px;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
}

div {
  text-align: center;
  font-size: 20px;
}

#startHolder {
  text-align: center;
  margin: 0% 40%;
  padding: 10px;
}

#newGameButton {
  display: block;
  position: sticky;
  margin: 0px;
  background-color: rgb(255, 214, 161);
}

td.gameCell {
  border: solid rgb(255, 199, 134);
  background-color: rgb(255, 255, 185);
  padding: 10px 20px;
  font-size: 30px;
  cursor: pointer;
}

#scoreBoard {
  display: row;
  flex-direction: column;
  justify-content: space-between;
}

.playerName {
  padding: 0px 20px;
  background-color: rgb(196, 255, 196);
  border: solid rgb(0, 195, 255);
  font-size: 25px;
  height: 30px;
  text-align: center;
  border-radius: 8px;
}

.individualScore {
  font-size: 20px;
  text-indent: 10%;
  border-radius: 10px;
  background-color: rgba(211, 144, 255, 0.438);
}

.renameButton {
  background-color: rgb(148, 239, 255);
}